###
# global options
$options->{ssh_binary}       = "/usr/bin/ssh";
$options->{scp_binary}       = "/usr/bin/scp";
$options->{ssh_args}         = "-o User=root -o PreferredAuthentications=hostbased,publickey -o LogLevel=FATAL -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null";
$options->{scp_args}         = "-o User=root -o PreferredAuthentications=hostbased,publickey -o LogLevel=FATAL -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null";
$options->{agentinfo_binary} = "agentinfo";
$options->{nexec_binary}     = "nexec";
$options->{ncp_binary}       = "ncp";
$options->{nexec_args}       = "";
$options->{agentinfo_args}   = "";
$options->{ncp_args}         = "";
$options->{rsh_binary}       = "/usr/bin/rsh";
$options->{rcp_binary}       = "/usr/bin/rcp";
$options->{rsh_args}         = "";
$options->{rcp_args}         = "";
$options->{rsh_user}         = "root";
$options->{rcp_user}         = "root";
$options->{arg_mode}         = "ssh";
$options->{arg_parallel}     = 5;
$options->{arg_timeout}      = 60;

1;
