###
# global options
$Main::options->{ssh_binary}        = "/usr/bin/ssh";
$Main::options->{scp_binary}        = "/usr/bin/scp";
$Main::options->{ssh_args}          = "-o PreferredAuthentications=hostbased,publickey -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -q";
$Main::options->{scp_args}          = "-o PreferredAuthentications=hostbased,publickey -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -q";
$Main::options->{agentinfo_binary}  = "agentinfo";
$Main::options->{nexec_binary}      = "nexec";
$Main::options->{ncp_binary}        = "ncp";
$Main::options->{nexec_args}        = "";
$Main::options->{agentinfo_args}    = "";
$Main::options->{ncp_args}          = "";
$Main::options->{rsh_binary}        = "/usr/bin/rsh";
$Main::options->{rcp_binary}        = "/usr/bin/rcp";
$Main::options->{rsh_args}          = "";
$Main::options->{rcp_args}          = "";
$Main::options->{arg_mode}          = "ssh";
$Main::options->{arg_parallel}      = 5;
$Main::options->{arg_timeout}       = 60;

1;
